In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [10]:
df= pd.read_csv("Datasets/train.csv",usecols=['Age','Fare','Survived'])

In [11]:
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
from sklearn.tree import DecisionTreeClassifier

In [14]:
from sklearn.metrics import accuracy_score 
from sklearn.model_selection import cross_val_score

In [33]:
from sklearn.preprocessing import KBinsDiscretizer as kbd
from sklearn.compose import ColumnTransformer

In [16]:
df.dropna(inplace=True)

In [17]:
df.shape

(714, 3)

In [18]:
X=df.iloc[:,1:]
y= df.iloc[:,0]

In [19]:
X_train,X_test,y_train,y_test= train_test_split(X,y,train_size=0.2)

In [20]:
clf= DecisionTreeClassifier()

In [21]:
clf.fit(X_train,y_train)

DecisionTreeClassifier()

In [22]:
y_pred= clf.predict(X_test)

In [31]:
accuracy_score(y_pred, y_test)

0.5909090909090909

In [32]:
np.mean(cross_val_score(DecisionTreeClassifier(),X,y,cv=10,scoring='accuracy'))

0.6288732394366197

In [46]:
kbin_age= kbd(n_bins=20,encode='ordinal',strategy='quantile')
kbin_fare= kbd(n_bins=20,encode='ordinal',strategy='quantile')

In [47]:
trf= ColumnTransformer([
    ('first',kbin_age,[0]),
    ('second',kbin_fare,[1])
])

In [48]:
X_train_trf= trf.fit_transform(X_train)
X_test_trf = trf.transform(X_test)

In [49]:
trf.named_transformers_['first'].n_bins_

array([20])

In [50]:
output = pd.DataFrame({
    'age':X_train['Age'],
    'age_trf':X_train_trf[:,0],
    'fare':X_train['Fare'],
    'fare_trf':X_train_trf[:,1]
})

In [51]:
output

      age  age_trf     fare  fare_trf
750   4.0      0.0  23.0000      11.0
193   3.0      0.0  26.0000      12.0
540  36.0     14.0  71.0000      17.0
536  45.0     16.0  26.5500      13.0
758  34.0     13.0   8.0500       5.0
..    ...      ...      ...       ...
873  47.0     17.0   9.0000       6.0
744  31.0     11.0   7.9250       4.0
44   19.0      3.0   7.8792       3.0
462  47.0     17.0  38.5000      15.0
167  45.0     16.0  27.9000      13.0

[142 rows x 4 columns]

In [52]:
clf =DecisionTreeClassifier()