In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('Social_Network_Ads.csv')

In [3]:
df.sample(5)

      User ID  Gender  Age  EstimatedSalary  Purchased
267  15581282    Male   37            74000          0
32   15573452  Female   21            16000          0
330  15693264    Male   38            51000          0
50   15694395  Female   24            32000          0
386  15724150  Female   49            39000          1

In [4]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [7]:
df=df.iloc[:,2:]

In [8]:
df.sample(5)

     Age  EstimatedSalary  Purchased
25    47            20000          1
308   36           125000          1
170   21            88000          0
5     27            58000          0
46    25            79000          0

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train,X_test,y_train, y_test=train_test_split(df.drop('Purchased',axis=1),df['Purchased'],test_size=0.3, random_state=0)

In [21]:
X_train.shape

(280, 2)

In [22]:
X_test.shape

(120, 2)

In [23]:
from sklearn.preprocessing import StandardScaler

In [28]:
scaler=StandardScaler()

In [29]:
scaler.fit(X_train)

StandardScaler()

In [31]:
X_train_scaled=scaler.transform(X_train)
X_test_scaled=scaler.transform(X_test)